/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 12, 2023, 11:13:05 PM
    Author     : An Nguyen
*/

.str1{
    border:1px solid black; 
    margin-right: 80%
}

#message {
    position: fixed;
    top: 90px;
    right: 20px;
    background-color: #fff;
    padding: 10px;
}
